<p><%= @movies %></p>
<!-- for each movie retieved from movie Db -->
<div class="movie_card border border-secondary p-3">
  <!-- Rework for AJAX data -->
  <div class="row justify-content-between">
    <div class="col-4">
      <div class="movie_card_cover">
        <img src="" alt="">
      </div>
      <div class="movie_card_rating_avg">
        <span>movie.reviews.rating.avg</span>
      </div>
    </div>
    <div class="col-8">
      <h3>Movie Title 1</h3>
      <p class="m-0">Release Date: Apr 28, 2017</p>
      <p class="mb-2">Genre: Action</p>
      <div class="movie_card_reviews mb-2">
        <!-- for each review of movie paginate starting at 2 -->
        <span>movie.review.rating</span>
        <span>movie.review.comment</span>
        <span>movie.review.user</span>
      </div>
      <%# if movie.revies.length > 2 %>
        <%#= link_to "View More", review_path(id) %>
      <%# end %>
      <%= link_to "Leave A Review", new_review_path %>
    </div>
  </div>
</div>
