<section id="movies">
  <div class="row justify-content-center py-3">
    <div class="col-lg-10 col-md-11">
      <div class="row py-3">
        <div class="col">
          <span>Sort By: </span>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary title">Title</button>
            <button type="button" class="btn btn-outline-secondary releaseDate">Release Date</button>
            <button type="button" class="btn btn-outline-secondary genre">Genre</button>
            <!-- place holder buttons -->
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-8 movie_partials">
          
        </div>
        <div class="col-md-4">
          <%= render "movies/movie_side_panel" %>
        </div>
      </div>
    </div>
  </div>

</section>
