<%= javascript_include_tag 'movies' %>
<section id="movies">
  <div class="row justify-content-center py-3">
    <div class="col-xl-10">
      <div class="row justify-content-between align-items-center py-3">
        <div class="col">
          <span>Sort By: </span>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary title">Title</button>
            <button type="button" class="btn btn-outline-secondary releaseDate">Release Date</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
              </button>
              <div class="dropdown-menu dropdown-menu-right text-center genre" aria-labelledby="btnGroupDrop1">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 text-right">
          <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off" spellcheck="false">
        </div>
      </div>
      <div class="row justify-content-between py-3">
        <div class="col-lg-8 movie_partials">

        </div>
        <div class="col-lg-4 d-lg-block d-none">
          <%= render 'movies/movie_side_panel', collection: [@movies, @reviews] %>
        </div>
      </div>
      <div class="row justify-content-between pb-3">
        <div class="col-lg-8 text-center">
          <button type="button" class="btn btn-secondary moreMovies">More Movies</button>
        </div>
        <div class="col-lg-4 d-lg-block d-none"></div>
      </div>
    </div>
  </div>
</section>
