@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding: 0.8rem 1rem;
}

.contrast, .contrast:hover {
  color: #FFF;
}

.row {
  margin: 0;
}

.fa {
  font-size: 1.5rem;
  vertical-align: sub;
}

.movie_card_title {
  font-size: 1.75rem;
}

.movie_side_panel, .movie_card {
  background-color: #ececec;
}

.form-control {
  border: 1px solid #6c757d;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  text-shadow: -1px -1px 1px gray, 1px -1px 1px gray, -1px 1px 1px gray, 1px 1px 1px gray;
}

.bigger {
  font-size: 1.75rem;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★';
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★';
  color: gold;
  overflow: hidden;
}

@mixin stars($attr, $unit: '%') {
  @for $i from 0 through 100 {
    .stars-#{$i}:after { #{$attr}:#{$i}#{$unit}; }
  }
}
@include stars('width');
